<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.footballscheduling">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/football_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/football_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootballScheduling">
        <activity
            android:name=".activities.DisplayPlayers1"
            android:exported="false" />
        <activity
            android:name=".activities.TeamsAndPlayers1"
            android:exported="false" />
        <activity
            android:name=".activities.MatchReporting"
            android:exported="false" />
        <activity
            android:name=".activities.DisplayFixturePlayers"
            android:exported="false" />
        <activity
            android:name=".activities.DisplayTeamFixtures"
            android:exported="true" />
        <activity
            android:name=".activities.DisplayFixtures"
            android:exported="true" />
        <activity
            android:name=".activities.TransferPlayers"
            android:exported="true" />
        <activity
            android:name=".activities.Transfers"
            android:exported="true" />
        <activity android:name=".activities.Transfers1" />
        <activity android:name=".activities.FixtureGenerator" />
        <activity android:name=".activities.DisplayPlayers" />
        <activity android:name=".activities.RegisterPlayers" />
        <activity android:name=".activities.RegisterTeam" />
        <activity android:name=".activities.Home" />
        <activity android:name=".activities.TeamsAndPlayers" />
        <activity android:name=".activities.Profile" />
        <activity android:name=".activities.Register" />
        <activity android:name=".activities.Login" />
        <activity android:name=".activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>