<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.footballscheduling">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/football_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/football_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootballScheduling">
        <activity android:name=".FixtureTeam"></activity>
        <activity android:name=".DisplayPlayers" />
        <activity android:name=".ViewPlayers" />
        <activity android:name=".RegisterPlayers" />
        <activity android:name=".RegisterTeam" />
        <activity android:name=".Home" />
        <activity android:name=".TeamsAndPlayers" />
        <activity android:name=".Profile" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>